@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 6%;
    --foreground: 0 0% 88%;
    --card: 216 33% 8%;
    --card-foreground: 0 0% 88%;
    --popover: 216 33% 6%;
    --popover-foreground: 0 0% 88%;
    --primary: 210 79% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 33% 12%;
    --secondary-foreground: 0 0% 88%;
    --muted: 216 33% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 79% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 33% 15%;
    --input: 216 33% 15%;
    --ring: 210 79% 46%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}

